
@page
@model VivaBarNails.Pages.NailOrders.InWorkModel
@{
}
<h4 style="text-align:center">Записи</h4>
<hr />
<table class="table" >
    <thead class="tableNew">
        <tr>
            <th>
                Имя клиента
            </th>
            <th>
                Номер телефона
            </th>
                <th>
                Дата посещения
            </th>
               <th>
                Перенести
            </th>
        </tr>
        </thead>
    <tbody>
        @foreach (var order in Model.Clients)
        {
            <tr>
                <td>
                    @order.ClientName
                </td>
                <td>
                    @order.PhoneNumber
                </td>
                <td>
                    @order.VisitDate
                  </td>
                     <td>
                     <a class="btn btn-dark"asp-page="./Done" asp-route-id="@order.Id">Готов</a>
                      </td>
            </tr>

        }

    </tbody>
    </table>