@page
@model AllMastersModel

<h1>Наши мастера</h1>
 <div class="col-md-4">
@foreach (var item in @Model.Masters)
{
      <h5 class="card-title">@item.MasterName</h5>
       <img class="card-img-top" src="@item.Picture" alt="Card image cap">

}
</div>


  

    


