@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VIVA BAR NAILS</h1>
         <a class="btn btn-dark marginIndex"asp-area="" asp-page="/Clients/Create">Записаться</a>
</div>
