@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Контакты</h1>

<p>Санкт-Петербург наб. Обводного канала 30к3</p>
<p>ПН-ПТ с 10:00 до 21:00</p>
<p>СБ-ВС с 12:00 до 20:00</p>
<p>+7 (812) 362 17 42</p>
 <img class="aboutImage"src="~/img/htf.png" />
