html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.aboutImage {
    border-radius: 8px;
    max-width: 70%;
    height: auto;
}
.marginIndex {
    margin-top: 8%;
}
.tableNew {
    background-color: #292b2c;
    color: white;
    border-bottom: 2px solid #999;
}
.masterImage {
    border-radius: 8px;
    width: 200px;
    height: 250px
}