@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<h4>Запись</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.ClientName" class="control-label">Ваше Имя</label>
                <input asp-for="Client.ClientName" class="form-control" />
                <span asp-validation-for="Client.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.PhoneNumber" class="control-label">Номер Телефона</label>
                <input asp-for="Client.PhoneNumber" class="form-control" />
                <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
            </div>
        <div class="form-group">
                <label asp-for="Client.VisitDate" class="control-label">Дата Визита</label>
                <input asp-for="Client.VisitDate" class="form-control" />
                <span asp-validation-for="Client.VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Записаться" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
