@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
       <p>Запись создана.</p>
    <p>В ближайшее время с Вами свяжется менеджер для подтверждения.</p>
</div>
